/*************/
/* Fonts */
/*************/

@font-face {
  font-family: 'Chalk';
  src: url('../fonts/pencil-pete-webfont.woff2') format('woff2'),
       url('../fonts/pencil-pete-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-background: rgb(149 104 63);
  --color-honing: rgb(252 204 0);
  --color-white: rgb(255 255 255);
  --color-red: rgb(159,11,0);
  --color-beige: rgb(241,215,184);
  --color-light-beige: rgb(240,225,211);

  --book-clamp: clamp(16rem, 50vmin, 30rem);
  --book-clamp-big: clamp(16rem, 70vmin, 30rem);
}

/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing: border-box;  
}

body {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  /* background-color: var(--color-background); */
  background: rgb(149,104,63);
  background: linear-gradient(90deg, rgba(149,104,63,1) 0%, rgba(166,119,76,1) 25%, rgba(193,146,104,1) 50%, rgba(182,134,89,1) 75%, rgba(149,104,63,1) 100%);
}

button:not([disabled]), 
label, 
label * {
  cursor: pointer;
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  margin-bottom: 0.95em;

  color: var(--color-white);
  
  font-size: 4.5em;
  font-family: 'Chalk', fantasy;
  font-weight: 700;
}

h2 {
  width: min-content;
  margin: 0 auto;

  display: grid;
  
  font-size: 3em;
  font-family: new-spirit, serif;
  font-weight: 700;
  text-align: center;

  color: var(--color-red);
  -webkit-text-stroke: 1px var(--color-beige); /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke */
}

h3 {
  margin: 0 0 0.2em 0;

  font-family: new-spirit, serif;
  font-size: 1em;
  font-weight: 700;

  color: var(--color-red);
}

p {
  margin: 0 0 0.5em 0;

  font-family: new-spirit, serif;
  font-size: 1em;
  font-weight: 400;
}

button {
  width: 100%;
  border: none;
  border-radius: 50%;
  aspect-ratio: 3/1;

  transition: 1s;
  
  font-size: 0;

  color: transparent;

  background-color: transparent;
  background-image: url("../images/circle.png");
  background-size: cover;
  backface-visibility: hidden;
}

button:hover {
  cursor: url("../images/cursor.png") 60 35, auto; /* Source https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
}

button:focus-visible {
  background-color: var(--color-red);

  opacity: 0.5;

  outline: none;
}

input:focus-visible + label {
  outline: 1em solid red;
}

/********************/
/* HONING ANIMATIE*/
/********************/

svg {
  position: absolute;
  top: 0;
  left: 0;
}

#eind {
  visibility: hidden;
}

#start, #eind {
  /* fill: var(--color-honing); */
  fill: url(#MyGradient);
}

/********************/
/* BEGIN SCHERM */
/********************/

header {
  width: 60%;
  height: 100vh;
  margin: 0 0 0.1em 5em;

  display: grid;
  place-items: end start;
  position: relative;

  transition: 1s;
}

header.open {
  transform: translateX(-50em);
}

header.boek-open {
  position: fixed;
  left: -9999em;
}

/********************/
/* BOEK */
/********************/

main {
  width: 40%;

  position: relative;

  perspective: 100em;
  transform-style: preserve-3d;
}

header.boek-open + main {
  max-width: calc(100vw - 2 * 5em);
  width: 100%;
  height: 100vh;

  display: block;
  position: absolute;
  right: 0;
}

/* Vanaf hieronder is een deel css van de volgende source https://codepen.io/shooft/pen/ExNLMyr */
article:first-of-type {
  width: var(--book-clamp);
  aspect-ratio: 1133/1602;

  position: absolute;
  right: calc(var(--book-clamp-big) / 5);
  top: 50%;

  transform: translateY(-50%);
  transform-style: preserve-3d; /* Zorgt voor het 3D effect */
  transition: 2s;
}

main article.map {
  width: var(--book-clamp-big);

  display: block;
  right: calc(50vw - var(--book-clamp-big));

  transform: translateY(-50%) rotateX(50deg);
}

main article:nth-of-type(2) {
  display: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  position: absolute;
  inset:0;

  transform-origin: left center; /* Geeft het punt aan waaruit word bewogen https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
  transform: perspective(250em) rotateY(var(--endAngle)); /* Perspective -> Geeft de z weer als je er 0 neer zet is het plat, hoe groter het cijfer hoe meer het naar je toe komt */
  transform-style: preserve-3d; /* Zorgt voor het 3D effect */
  
  transition: 1s transform;
}

input {
  display: none;
}

/* Zorgt ervoor dat het boek dicht geklapt is en bij de kaft begint */
input:checked + input + section {
  transform: perspective(50em) rotateY(var(--startAngle)); /* RotateY -> Het roteren van de Y as waar de --startAngle van elke sectie wordt gepakt */
} 

/* Zorgt er voor dat de achterst pagina ook echt achter staat */
input:checked + input + section ~ section,
input:checked + section ~ section {
  transform: perspective(50em) rotateY(var(--startAngle)); 
}

/* Geven de rotatie angles aan die in de ratateY komen te staan van de transform */
section:nth-of-type(1) {
--startAngle: -0.04deg;
--endAngle: -180deg;
}

section:nth-of-type(2) {
--startAngle: -0.03deg;
--endAngle: -179.99deg;
}

section:nth-of-type(3) {
--startAngle: -0.02deg;
--endAngle: -179.98deg;
}

section label {
  width:100%;
  height:100%;

  display:block;

  transform-style: preserve-3d;

  backface-visibility: hidden; /* Zorgt dat de achterkant van de pagina niet zichtbaar is */
}

section:first-of-type label:first-of-type {
  display: grid;
  place-items: self-end; /* Zorgt ervoor dat de items in het label aan de onderkant komen te staan */
}

section:nth-of-type(2) label:first-of-type {
  display: flex;
  justify-content: flex-end;

  pointer-events: none; /* Zorgt ervoor dat dit element niet meer klikbaar is */
}

section:first-of-type label:first-of-type h2 + p {
  position: absolute;
  right: 14%;
  bottom: 26%;

  transform: rotate(25deg);

  font-family: 'Chalk', fantasy;
}

section:first-of-type label:first-of-type img {
  width: 80%;
}

section:first-of-type label:nth-of-type(2) img,
section:nth-of-type(2) label:first-of-type img {
  height: 100%;

  display:block;
}

section:nth-of-type(2) label:nth-of-type(2) img {
  max-width: 100%;
  width: 100%;
}

section label:first-child {
  position: relative;

  background-image: url("../images/kaft.jpeg");
  background-size: cover;
}

section label:last-child {
  position: absolute;
  left: 0; 
  top: 0;

  transform: rotatey(180deg);
}

main section label ol {
  padding: 0;
  margin: 0;
  
  position: absolute;
  inset: 0;

  transform-style: preserve-3d;

  list-style: none;
}

main section:nth-of-type(2) label:first-of-type ol {
  pointer-events: all; /* Zorgt dat dit element klikbaar is waardoor de bladzijde omgeslagen kan worden */
}

main section label ol li {
  width: 90%;

  position: absolute;
  z-index: 1;

  transform-style: preserve-3d;
}

/*****************************************/
/* PLAATSING VAN ALLE ITEMS OP DE KAART */
/*****************************************/

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(1) {
  bottom: 6%;
  left: 3%;
}

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(2) {
  top: 50%;
  left: 3%;
}

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(3) {
  top: 26%;
  left: 3%;
}

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(4) {
  top: 4%;
  left: 3%;
}

main section:nth-of-type(2) label:nth-of-type(1) ol li:nth-of-type(1) {
  top: 4%;
  left: 3%;
}

main section:nth-of-type(2) label:nth-of-type(1) ol li:nth-of-type(2) {
  top: 26%;
  left: 3%;
}

main section:nth-of-type(2) label:nth-of-type(1) ol li:nth-of-type(3) {
  bottom: 5%;
  left: 3%;
}

/************************************/
/* INFORMATIE OVER WINNIE THE POOH */
/***********************************/

main section label ol li > div {
  width: 100%;

  display: grid;
  grid-template-columns:1fr 1fr;
  place-items: end start;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0; 

  transform-origin: center bottom; /* Zorgt dat de transform vanaf het midden aan de onderkant wordt veranderd */
  transform: rotateX(0deg);
  backface-visibility: hidden;

  transition: opacity 0s 0.8s, transform 0.8s;
  pointer-events: none;
}

main section label ol li div.open-info {
  opacity: 1;

  transform: rotateX(-45deg); /* Zorgt ervoor dat wanneer de div de class open-info krijgt deze rechtop komen te staan */
  
  transition: transform 2s;
}

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(1) div.open-info {
  place-items: end start;
}

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(3) div.open-info {
  place-items: end start;
}

main section:nth-of-type(2) label:nth-of-type(1) ol li:nth-of-type(1) div.open-info {
  place-items: end;
}

section:first-of-type label:nth-of-type(2) div img,
section:nth-of-type(2) label:first-of-type div img {
  width: 100%;
  height: auto;
}

main section label ol li div img {
  width: 100%;
  height: auto;
}

main section:nth-of-type(2) label:nth-of-type(1) ol li:nth-of-type(2) div img {
  padding-bottom: 20px;
}

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(2) div img {
  margin: 0 auto;
}

main section:first-of-type label:nth-of-type(2) ol li:nth-of-type(3) div img {
  width: 130px;
  height: auto;
  margin: 0 auto;
}

main section:nth-of-type(2) label:nth-of-type(1) ol li:nth-of-type(1) div img {
  height: 180px;
  width: auto;
  margin: 0 auto;
}

main section label ol li div div {
  position: relative;

  background-color: var(--color-light-beige);
}

main section label ol li div h3 {
  width: 100%;
  height: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;

  font-size: inherit;
}

main section label ol li div p {
  width: 100%;
  height: 100%;
  padding: 0 10px 10px 10px;

  font-size: 1cqi; /* Cqi zorgt ervoor dat de tekst zo groot wordt als het element */
}